@import "font";
@import "var";

body {
  font-family: $font;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 71px;
  position: relative;
  &:before {
    content: "";
    //width: 90%; //
    left: 10px; //
    height: 27px;
    display: block;
    position: absolute;
    top: 0;
    //left: 0;
    z-index: -1;
    background-color: $accent;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    bottom: -24px;
    position: absolute;
    top: 71px;
    background-image: url("../images/header-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__logo {
    border-radius: 10px 0 0 0;
    padding: 20px 45px 0 45px;
    background-color: $accent;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 76px;
      height: 71px;
      background-image: url("../images/header-left.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: -76px;
      top: 0;
    }

  }
  &__link {
    background-color: $accent;
    color: $light;
    font-size: 20px;
    padding: 20px 45px 0 45px;
    border-radius: 0 10px 0 0;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 76px;
      height: 71px;
      position: absolute;
      background-image: url("../images/header-right.svg");
      left: -76px;
      top: 0;
    }
  }
}

