@import "font";
@import "var";

body {
  font-family: $font;
  font-weight: 400;
  background-color: #1F2023;
  line-height: 110%;
  color: $light;
  margin: 0; //
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.title-h2 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $grey;
  margin: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 71px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  &:before {
    content: "";
    width: 90%; //
    left: 10px; //
    height: 27.5px;
    display: block;
    position: absolute;
    top: 0;
    //left: 0;
    z-index: -1;
    background-color: $accent;

  }

  &__logo {
    border-radius: 10px 0 0 0;
    padding: 17px 45px 0 45px;
    background-color: $accent;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 76px;
      height: 71px;
      background-image: url("../images/header-left.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: -76px;
      top: 0;
    }
    &:before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      //background-size: contain;
      position: absolute;
      width: 28px;
      height: 24px;
      top: 71px;
      left: 0;
      background-image: url("../images/header-bottom-left.svg");
    }

  }
  &__link {
    background-color: $accent;
    color: $light;
    font-size: 20px;
    padding: 20px 45px 0 45px;
    border-radius: 0 10px 0 0;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 76px;
      height: 71px;
      position: absolute;
      background-image: url("../images/header-right.svg");
      left: -76px;
      top: 0;
    }
    &:before {
      content: "";
      position: absolute;
      width: 28px;
      height: 24px;
      top: 71px;
      right: 0;
      background-image: url("../images/header-bottom-right.svg");
      display: block;
      background-repeat: no-repeat;
      //background-size: contain;
    }
  }
}

.container {
  font-family: $font;
  width: 100%;
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.banner {
  display: flex;
  background: url("../images/bg-banner.jpg") center center/cover no-repeat;
  border-radius: $br-max;
  padding: 100px 50px;
  margin-top: 135px;
  gap: 50px;
  &__main {
    flex-basis: 61%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info {
    flex-basis: calc(39% - 50px);
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid $light;
    border-right: none;
    border-radius: 20px 0 0 20px;
    position: relative;
    height: 151px;
    margin-right: 80px;
    padding-bottom: 30px; //
    padding-left: 30px; //
    box-sizing: border-box;
    transition: $tr;
    z-index: 1;
    & + & {
      margin-top: 19px;
    }

    &:hover
    {
      &:before {
        width: 100%;
        opacity: 1;
        transform: scale(1);
      }
      //background-color: $accent;
      //border-color: $accent;
      .banner__decor {
        background-color: $accent;
        border-color: $accent;
        &:after {
          opacity: 1;
          transform: scale(1);
      }
      }
    }
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 149px;
      background-color: $accent;
      position: absolute;
      top: -1px;
      right: 0;
      border-radius: 20px 0 0 20px;
      border: 1px solid $accent;
      z-index: -1;
      opacity: 0;
      transform: scale(0);
      transform-origin: top right;
      transition: $tr;

    }

  }
  &__text {
    font-weight: 200; //
    font-size: 24px;//
    margin: 0; //
    span {
      display: block; //
      margin-top: 20px;
      font-weight: 700; //
      font-size: 32px; //
    }
    }

  &__decor {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -80px;
    border: 1px solid $light;
    border-radius: 10px;
    box-sizing: border-box;
    transition: $tr;
    &:after {
      display: block;
      opacity: 0;
      content: "";
      background-image: url("../images/banner-info-decor-accent.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 151px;
      right: 0;
      position: absolute;
      top: -1.8px;
      transform: scale(0);
      transform-origin: top left;
      transition: $tr;
    }
    &:before {
      content: "";
      background-image: url("../images/banner-info-decor.svg");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      width: 80px;
      height: 151px;
      right: 0;
      position: absolute;
      top: -1.8px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 110%;

  }
  &__btn {
    width: 100%;
    display: block;
    color: $light;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $accent;
    border-radius: $br-min;
    border: 1px solid $accent;
    padding: 30px;
    cursor: pointer;
    transition: $tr;
    @media(hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
.banner-box {
  border: 1px solid $light;
  border-radius: $br-min;
  position: relative;
  padding: 30px 332px 30px 30px;
  &__title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__img {
    position: absolute;
    &._electroguitar {
      top:-68px;
      right: -20px;
    }
  }
}

.tag {
  display: flex;
  gap: 64px;
  animation: move-left 20s infinite linear alternate;
  //overflow: hidden;
  margin-top: 150px;
  margin-bottom: 150px;
  &:hover {
    animation-play-state: paused;
  }
  &__text {
    box-sizing: border-box;
    border: 1px solid $grey;
    border-radius: $br-max;
    padding: 10px 20px;
    font-weight: 200;
    font-size: 24px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: $accent;
      border-radius: 100%;
      position: absolute;
      left: -40px;
      top: calc(50% - 8px)
    }
    &:hover {
      border: 0;
      cursor: pointer;
    }
  }
}

@keyframes move-left {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.course {
  display: flex;
  gap: 70px;
  margin-bottom: 150px;
  &__title {
    flex-basis: 395px;
  }
  &__control {
    margin-top: 40px;
  }
  &__content {
    flex-basis: calc(100% - 395px - 70px);
    width: calc(100% - 395px - 70px);
  }
}

.course-control {
  display: flex;
  align-items: center;
  //height: 70px;
  gap: 20px;
  &__prev, &__next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border: 1px solid $light;
    border-radius: 100%;
    right:  inherit;
    left: inherit;
    position: inherit;
    transition: $tr;
    background-color: transparent;
    &:hover {
      background: $accent;
      border: 1px solid $accent;
    }
    &:after {
      display: block;
      width: 49px;
      height: 24px;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__prev {
    &:after {
      background-image: url("../images/ui/arrow-prev.svg");
    }
  }
  &__next {
    &:after {
      background-image: url("../images/ui/arrow-next.svg");
    }
  }
}

.slider-teacher {
  &__item {
    background-color: $dark;
    border: 1px solid $dark;
    position: relative;
    border-radius: $br-max;
    overflow: hidden;
    height: 707px;
    transition: $tr;
    &:hover {
      border-color: $accent;
      .slider-teacher__name {
        opacity: 1;
      }
      .slider-teacher__table {
        opacity: 1;
      }
    }
  }
  &__table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: $tr;
  }
  &__img {
    max-width: 100%;
    height: 637px;
    position: absolute;
    bottom: 0;
    object-fit: cover;

  }
  &__name {
    width: 100%;
    opacity: 0;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    position: absolute;
    left: 30px;
    bottom: 30px;
    transition: $tr;
    z-index: 1;
    &:before {
      content: "";
      display: block;
      height:  637px;
      width: 100%;
      background: linear-gradient(42.13deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 59.08%);
      background-repeat: no-repeat;
      position: absolute;
      left: -30px;
      bottom: -30px;
      z-index: -1;
    }
  }
}

.accordion {
  &__btn {
    font-weight: 400;
    font-size: 32px;
    color: $accent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: $br-min;
    padding: 20px 25px 20px 30px;
    background-color: $light;
    margin-top: 50px;
    margin-bottom: 24px;
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background: url("../images/ui/remove.svg") center center/cover no-repeat;
    }
    &.active {
      &:after {
        background: url("../images/ui/plus.svg") center center/cover no-repeat;
      }
    }
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.2s ease-out;
    border-radius: $br-min;
    background: $light;
  }


  &__list {
    list-style-type: none;
    margin: 0;
    padding: 30px 50px;
  }
  &__item {
    color: $dark; //
    font-weight: 300; //
    font-size: 24px; //
    display: flex; //
    align-items: center; //
    gap: 10px; //
    border-bottom: 1px solid $grey;
    background-color: $light;
    padding-bottom: 15px;
    & + & {
      margin-top:  30px;
    }

    &:before {
      content: '—';
    }
  }
}

.steps {

  border: 1px solid $light; //
  border-radius: $br-max; //
  background: linear-gradient(180deg, #1F2023 0%, #7027E2 50%, #1F2023 100%); //
  padding: 150px 0;
  /*max-width: 1920px;
  margin: 0 auto; */
  width:  min(1920px, 100%);
  margin-inline: auto;
  &__list {
    margin-top: 50px;
    //display: flex;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    //width: 25%; //
    background: $light;
    border-radius: $br-max;
    padding: 30px;
  }
  &__text {
    letter-spacing: -0.005em;
    margin-top: 20px;
    color: $dark;
    font-weight: 400; //
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0;
  }
}

.result {
  margin-top: 150px;
  margin-bottom: 150px;
  &__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  &__item {
    background: $light;
    border-radius: $br-min;
    padding: 30px;
    &._subgrid {
      display: grid;
      grid-column: 2 / 5;
      grid-template-columns: subgrid;

    }
  }
  &__number {
    display: block;
    //padding: 10px;
    width: 62px;
    height: 46px;
    background: $accent;
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
    //line-height: 110%;
    color: $light;
    text-align: center;
    line-height: 45px;
    margin-bottom: 30px;
  }
  &__text {
    margin: 0;
    letter-spacing: -0.005em;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $dark;
  }
  &__btn {
    box-sizing: border-box;
    grid-column: 2 / 5;
    color: $light;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $accent;
    border-radius: $br-min;
    border: 1px solid $accent;
    padding: 30px;
    cursor: pointer;
  }
}

.direction {
  margin-bottom: 150px;
  &__list {
    margin-top: 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    //height: 108px;
    position: relative;
    border-bottom: 1px solid $accent;
    &:hover {
      background: $accent;
      border-bottom: 1px solid $accent;
      border-radius: 10px;
      cursor: pointer;
      .direction__img {
        opacity: 1;
      }
    }
    &:after {
      content: "";
      display: block;
      background: url("../images/ui/arrowup.svg") center center/cover no-repeat;
      position: absolute;
      height: 48px;
      width: 48px;
      top: 30px;
      right: 30px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: $light;
  }
  &__img {
    position: absolute;
    left: 769px;
    top: 50%;
    transform: translateY(-60%);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    ._sk {
      top: -100px;
    }
  }
}

.footer {
  margin-bottom: 165px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark;
  border-radius: 20px;
  &__logo {
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $light;
  }
  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: $accent;
  }
  &__sign {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $light;
  }
  &__social {
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    background-color: $light;
    border-radius: 20%;
  }
}